{% include "adminlte/header.html" %}
{% include "adminlte/sidebar.html" %}
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Version 0.1</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

            <div class="info-box-content">
              <a href="/mailbox"><span class="info-box-text">New quote requests</span></a>
              <span class="info-box-number">20<small></small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

            <div class="info-box-content">
              <a href="/track"><span class="info-box-text">Delay Alerts</span></a>
              <span class="info-box-number">4</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

            <div class="info-box-content">
              <a href="/invoice"><span class="info-box-text">invoices due</span></a>
              <span class="info-box-number">5</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
              <a href="#"><span class="info-box-text">customer churn predicted</span></a>
              <span class="info-box-number">8</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
        <!-- /.col -->
      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Sales Report</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <div class="btn-group">
                  <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-wrench"></i></button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-8">
                  <p class="text-center">
                    <strong>Revenue & number of customers reports</strong>
                  </p>

                  <div class="chart">
                    <!-- Sales Chart Canvas -->
                    <canvas id="salesChart" style="height: 180px;"></canvas>
                  </div>
                  <!-- /.chart-responsive -->
                </div>
                <!-- /.col -->
                <div class="col-md-4">
                  <p class="text-center">
                    <strong>Goal Completion</strong>
                  </p>

                  <div class="progress-group">
                    <span class="progress-text">Get new quotes</span>
                    <span class="progress-number"><b>160</b>/200</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">Get new customers</span>
                    <span class="progress-number"><b>31</b>/40</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <div class="progress-group">
                    <span class="progress-text">Reduce churn</span>
                    <span class="progress-number"><b>4%</b>/8%</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                    </div>
                  </div>
                  <!-- /.progress-group -->
                  <!--
                  <div class="progress-group">
                    <span class="progress-text">Send Inquiries</span>
                    <span class="progress-number"><b>250</b>/500</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
                    </div>
                  </div>-->
                  <!-- /.progress-group -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- ./box-body -->
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 17%</span>
                    <h5 class="description-header">$35,210.43</h5>
                    <span class="description-text">MONTHLY REVENUE</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-yellow"><i class="fa fa-caret-left"></i> 0%</span>
                    <h5 class="description-header">$10,390.90</h5>
                    <span class="description-text">MONTHLY COST</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block border-right">
                    <span class="description-percentage text-green"><i class="fa fa-caret-up"></i> 20%</span>
                    <h5 class="description-header">$24,813.53</h5>
                    <span class="description-text">MONTHLY PROFIT</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-3 col-xs-6">
                  <div class="description-block">
                    <span class="description-percentage text-red"><i class="fa fa-caret-down"></i> 18%</span>
                    <h5 class="description-header">1200</h5>
                    <span class="description-text">GOAL COMPLETIONS</span>
                  </div>
                  <!-- /.description-block -->
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Latest Orders</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
        <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr><th>Order</th>
                      <th>Origin</th>
                      <th>dest</th>
                      <th>goods</th>
                      <th>mode</th>
                      <th>Status</th>
                      <th>total KTons</th>
                      <th>total M$</th>
                      </tr>
                  </thead>
                  <tbody>
                  <tr><td><a href="/invoice">OR124</td>
                  <td>Arizona</td>
                  <td>New York</td>
                  <td>Nonmetallic minerals</td>
                  <td>Air (include truck-air)</td>
                  <td><span class="label label-success">Shipped</span></td>
                  <td>0.0142</td>
                  <td>93.6012</td>
                  </tr>
                  <tr><td><a href="/invoice">OR125</td>
                  <td>Louisiana</td>
                  <td>Texas</td>
                  <td>Chemical prods.</td>
                  <td>Water</td>
                  <td><span class="label label-danger">Delivered</span></td>
                  <td>7.2634</td>
                  <td>1.8346</td>
                  </tr>
                  <tr><td><a href="/invoice">OR126</td>
                  <td>California</td>
                  <td>Idaho</td>
                  <td>Basic chemicals</td>
                  <td>Rail</td>
                  <td><span class="label label-warning">Pending</span></td>
                  <td>41.2973</td>
                  <td>53.884</td>
                  </tr>
                  <tr><td><a href="/invoice">OR127</td>
                  <td>Washington</td>
                  <td>Texas</td>
                  <td>Machinery</td>
                  <td>Air (include truck-air)</td>
                  <td><span class="label label-info">Processing</span></td>
                  <td>0.4856</td>
                  <td>31.7595</td>
                  </tr>
                  <tr><td><a href="/invoice">OR128</td>
                  <td>Oregon</td>
                  <td>Minnesota</td>
                  <td>Furniture</td>
                  <td>Truck</td>
                  <td><span class="label label-danger">Delivered</span></td>
                  <td>4.4454</td>
                  <td>38.116</td>
                  </tr>
                  <tr><td><a href="/invoice">OR132</td>
                  <td>Maine</td>
                  <td>Rhode Island</td>
                  <td>Other ag prods.</td>
                  <td>Truck</td>
                  <td><span class="label label-danger">Delivered</span></td>
                  <td>4.9298</td>
                  <td>1.9499</td>
                  </tr>
                  <tr><td><a href="/invoice">OR133</td>
                  <td>Michigan</td>
                  <td>Massachusetts</td>
                  <td>Coal-n.e.c.</td>
                  <td>Multiple modes &amp; mail</td>
                  <td><span class="label label-warning">Pending</span></td>
                  <td>0.1966</td>
                  <td>0.8373</td>
                  </tr>
                  <tr><td><a href="/invoice">OR134</td>
                  <td>Kentucky</td>
                  <td>Texas</td>
                  <td>Crude petroleum</td>
                  <td>Water</td>
                  <td><span class="label label-info">Processing</span></td>
                  <td>10.6991</td>
                  <td>7.1687</td>
                  </tr>
                  <tr><td><a href="/invoice">OR135</td>
                  <td>Iowa</td>
                  <td>Georgia</td>
                  <td>Alcoholic beverages</td>
                  <td>Multiple modes &amp; mail</td>
                  <td><span class="label label-danger">Delivered</span></td>
                  <td>402.7126</td>
                  <td>290.7233</td>
                  </tr>
                  <tr><td><a href="/invoice">OR136</td>
                  <td>Washington</td>
                  <td>Kansas</td>
                  <td>Paper articles</td>
                  <td>Truck</td>
                  <td><span class="label label-warning">Pending</span></td>
                  <td>0.0043</td>
                  <td>0.1885</td>
                  </tr>
                  <tr><td><a href="/invoice">OR137</td>
                  <td>Illinois</td>
                  <td>Arkansas</td>
                  <td>Misc. mfg. prods.</td>
                  <td>Truck</td>
                  <td><span class="label label-warning">Pending</span></td>
                  <td>15.779</td>
                  <td>97.2067</td>
                  </tr>
                  <tr><td><a href="/invoice">OR138</td>
                  <td>California</td>
                  <td>Iowa</td>
                  <td>Precision instruments</td>
                  <td>Water</td>
                  <td><span class="label label-info">Processing</span></td>
                  <td>0.8294</td>
                  <td>5.0889</td>
                  </tr>
                  <tr><td><a href="/invoice">OR139</td>
                  <td>Virginia</td>
                  <td>Alabama</td>
                  <td>Other ag prods.</td>
                  <td>Water</td>
                  <td><span class="label label-success">Shipped</span></td>
                  <td>0.0178</td>
                  <td>0.0172</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
              <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% include "adminlte/footer.html" %}

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
  
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
</body>
</html>
<!--{#% include "adminlte/scriptFooter.html" %#}-->

