<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{{ current_user.avatar }}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{ current_user.full_name }}</p>
          <!--<a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a href="/login">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span> <!--<i class="fa fa-angle-left pull-right"></i>-->
          </a>
          <!--
          <ul class="treeview-menu">
            <li class="active"><a href="#"><i class="fa fa-circle-o"></i> Sales Dashboard</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Finances Dashboard</a></li>
          </ul>-->
        </li>
        <!--
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Monthly Projections</span>
            <span class="label label-primary pull-right">4</span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Jan'16</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Feb'16</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Mar'16</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Apr'16</a></li>
          </ul>
        </li>
        -->
        <li class="treeview">
          <a href="/quote">
            <i class="fa fa-edit"></i> <span>Get Quotes</span>
          </a>
        </li>
        <li>
          <a href="/track">
            <i class="fa fa-calendar"></i> <span>Track</span>
            <small class="label pull-right bg-red">3</small>
          </a>
        </li>
        <li class="treeview">
          <a href="/shipments">
            <i class="fa fa-table"></i> <span>Shipments List</span>
            <!--<i class="fa fa-angle-left pull-right"></i>-->
          </a>
          <!--<ul class="treeview-menu">
            <li><a href="/simpleTable"><i class="fa fa-circle-o"></i> Simple tables</a></li>
            <li><a href="/dataTable"><i class="fa fa-circle-o"></i> Data tables</a></li>
          </ul>-->
        </li>
        <li>
          <a href="/mailbox">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <small class="label pull-right bg-yellow">12</small>
          </a>
        </li>
        <li class="treeview">
          <a href="/rates">
            <i class="fa fa-folder"></i> <span>Company Rates</span>
          </a>
        </li>
        <li><a href="/contact"><i class="fa fa-book"></i> <span>Contact</span></a></li>
        <!--<li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>-->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
