{% include "adminlte/header.html" %}
{% include "adminlte/sidebar.html" %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
     <!-- <iframe src="https://fortress.maptive.com/ver4/d605d9d19d3b86d5bad9444890f7ca34/63452" frameborder="0" width="100%" height="500"></iframe>-->
         <input name="trackid" style="margin:2%; width:80%; height:30px" form="usrform" value="Please Enter Order-ID here" /><a href="/dummy" style="margin:10px; align:center" class="btn btn-primary">Submit</a>
        </button>
    <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Latest Orders</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
        <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr><th>Shipment Status</th>
<th>Company</th>
<th>Customer Name</th>
<th>Phone Number</th>
<th>Previous ETA</th>
<th>New Expected ETA</th>
<th>Delay Due To</th>
<th>Customer Informed?</th>
<th>Order No</th>
</tr>
                  </thead>
                  <tbody>
<td><span class="label label-warning">Delayed</span></td>
<td>Company A</td>
<td>John Doe</td>
<td>9920500236</td>
<td>May 31, 2016</td>
<td>June 5, 2016</td>
<td>Customs</td>
<td>No</td>
<td><a href="/invoice">OR124</td>
</tr>
<td><span class="label label-warning">Delayed</span></td>
<td>Company B</td>
<td>John Doe</td>
<td>9920500237</td>
<td>May 31, 2015</td>
<td>June 5, 2016</td>
<td>Port Strike</td>
<td>Yes</td>
<td><a href="/invoice">OR125</td>
</tr>
<tr><td><span class="label label-info">In Transit</span></td>
<td>Company C</td>
<td>John Doe</td>
<td>9920500238</td>
<td>June 10, 2016</td>
<td>On Time</td>
<td>N/A</td>
<td>Yes</td>
<td><a href="/invoice">OR126</td>
</tr>
<tr><td><span class="label label-info">In Transit</span></td>
<td>Company D</td>
<td>John Doe</td>
<td>9920500239</td>
<td>June 10, 2016</td>
<td>On Time</td>
<td>N/A</td>
<td>Yes</td>
<td><a href="/invoice">OR127</td>
</tr>
<tr><td><span class="label label-info">In Transit</span></td>
<td>Company E</td>
<td>John Doe</td>
<td>9920500240</td>
<td>June 15, 2016</td>
<td>On Time</td>
<td>N/A</td>
<td>Yes</td>
<td><a href="/invoice">OR128</td>
</tr>
<td><span class="label label-danger">Delivered</span></td>
<td>Company C</td>
<td>John Doe</td>
<td>9920500241</td>
<td>Apr 25, 2016</td>
<td>Delivered</td>
<td>N/A</td>
<td>Yes</td>
<td><a href="/invoice">OR129</td>
</tr>
</tbody>
                </table>
                

              </div>
              <!-- /.table-responsive -->
              </div>
              </div>
      </section>
    </div>
{% include "adminlte/footer.html" %}