{% include "adminlte/header.html" %}
{% include "adminlte/sidebar.html" %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <iframe src="https://fortress.maptive.com/ver4/d605d9d19d3b86d5bad9444890f7ca34/63452" frameborder="0" width="100%" height="500"></iframe>
      <iframe src="http://fortress.maptive.com/ver4/d605d9d19d3b86d5bad9444890f7ca34" frameborder="0" width="100%" height="500"></iframe>
      <iframe src="https://fortress.maptive.com/ver4/d605d9d19d3b86d5bad9444890f7ca34/63452" frameborder="0" width="100%" height="500"></iframe>
         <input name="trackid" style="margin:2%; width:80%; height:30px" form="usrform" value="Please Enter Order-ID here" /><a href="/dummy" style="margin:10px; align:center" class="btn btn-primary">Submit</a>
        </button>
    <!-- TABLE: LATEST ORDERS -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Latest Orders</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
        <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr><td>Order</td>
                      <td>Origin</td>
                      <td>dest</td>
                      <td>goods</td>
                      <td>mode</td>
                      <td>Status</td>
                      <td>total KTons</td>
                      <td>total M$</td>
                      </tr>
                  </thead>
                  <tbody>
                  <tr><td><a href="/invoice">OR124</td>
                  <td>Arizona</td>
                  <td>New York</td>
                  <td>Nonmetallic minerals</td>
                  <td>Air (include truck-air)</td>
                  <td><span class="label label-success">Shipped</span></td>
                  <td>0.0142</td>
                  <td>93.6012</td>
                  </tr>
                  <tr><td><a href="/invoice">OR125</td>
                  <td>Louisiana</td>
                  <td>Texas</td>
                  <td>Chemical prods.</td>
                  <td>Water</td>
                  <td><span class="label label-danger">Delivered</span></td>
                  <td>7.2634</td>
                  <td>1.8346</td>
                  </tr>
                  <tr><td><a href="/invoice">OR126</td>
                  <td>California</td>
                  <td>Idaho</td>
                  <td>Basic chemicals</td>
                  <td>Rail</td>
                  <td><span class="label label-warning">Pending</span></td>
                  <td>41.2973</td>
                  <td>53.884</td>
                  </tr>
                  <tr><td><a href="/invoice">OR127</td>
                  <td>Washington</td>
                  <td>Texas</td>
                  <td>Machinery</td>
                  <td>Air (include truck-air)</td>
                  <td><span class="label label-info">Processing</span></td>
                  <td>0.4856</td>
                  <td>31.7595</td>
                  </tr>
                  <tr><td><a href="/invoice">OR128</td>
                  <td>Oregon</td>
                  <td>Minnesota</td>
                  <td>Furniture</td>
                  <td>Truck</td>
                  <td><span class="label label-danger">Delivered</span></td>
                  <td>4.4454</td>
                  <td>38.116</td>
                  </tr>
                  <tr><td><a href="/invoice">OR129</td>
                  <td>New Mexico</td>
                  <td>Ohio</td>
                  <td>Electronics</td>
                  <td>Air (include truck-air)</td>
                  <td><span class="label label-warning">Pending</span></td>
                  <td>0.3321</td>
                  <td>27.7244</td>
                  </tr>
                  <tr><td><a href="/invoice">OR130</td>
                  <td>South Carolina</td>
                  <td>Washington</td>
                  <td>Transport equip.</td>
                  <td>Multiple modes &amp; mail</td>
                  <td><span class="label label-info">Processing</span></td>
                  <td>0.0001</td>
                  <td>2.2229</td>
                  </tr>
                  <tr><td><a href="/invoice">OR131</td>
                  <td>Pennsylvania</td>
                  <td>Florida</td>
                  <td>Misc. mfg. prods.</td>
                  <td>Multiple modes &amp; mail</td>
                  <td><span class="label label-success">Shipped</span></td>
                  <td>10.3527</td>
                  <td>467.4906</td>
                  </tr>
                  <tr><td><a href="/invoice">OR132</td>
                  <td>Maine</td>
                  <td>Rhode Island</td>
                  <td>Other ag prods.</td>
                  <td>Truck</td>
                  <td><span class="label label-danger">Delivered</span></td>
                  <td>4.9298</td>
                  <td>1.9499</td>
                  </tr>
                  <tr><td><a href="/invoice">OR133</td>
                  <td>Michigan</td>
                  <td>Massachusetts</td>
                  <td>Coal-n.e.c.</td>
                  <td>Multiple modes &amp; mail</td>
                  <td><span class="label label-warning">Pending</span></td>
                  <td>0.1966</td>
                  <td>0.8373</td>
                  </tr>
                  <tr><td><a href="/invoice">OR134</td>
                  <td>Kentucky</td>
                  <td>Texas</td>
                  <td>Crude petroleum</td>
                  <td>Water</td>
                  <td><span class="label label-info">Processing</span></td>
                  <td>10.6991</td>
                  <td>7.1687</td>
                  </tr>
                  <tr><td><a href="/invoice">OR135</td>
                  <td>Iowa</td>
                  <td>Georgia</td>
                  <td>Alcoholic beverages</td>
                  <td>Multiple modes &amp; mail</td>
                  <td><span class="label label-danger">Delivered</span></td>
                  <td>402.7126</td>
                  <td>290.7233</td>
                  </tr>
                  <tr><td><a href="/invoice">OR136</td>
                  <td>Washington</td>
                  <td>Kansas</td>
                  <td>Paper articles</td>
                  <td>Truck</td>
                  <td><span class="label label-warning">Pending</span></td>
                  <td>0.0043</td>
                  <td>0.1885</td>
                  </tr>
                  <tr><td><a href="/invoice">OR137</td>
                  <td>Illinois</td>
                  <td>Arkansas</td>
                  <td>Misc. mfg. prods.</td>
                  <td>Truck</td>
                  <td><span class="label label-warning">Pending</span></td>
                  <td>15.779</td>
                  <td>97.2067</td>
                  </tr>
                  <tr><td><a href="/invoice">OR138</td>
                  <td>California</td>
                  <td>Iowa</td>
                  <td>Precision instruments</td>
                  <td>Water</td>
                  <td><span class="label label-info">Processing</span></td>
                  <td>0.8294</td>
                  <td>5.0889</td>
                  </tr>
                  <tr><td><a href="/invoice">OR139</td>
                  <td>Virginia</td>
                  <td>Alabama</td>
                  <td>Other ag prods.</td>
                  <td>Water</td>
                  <td><span class="label label-success">Shipped</span></td>
                  <td>0.0178</td>
                  <td>0.0172</td>
                  </tr>
                  <tr><td><a href="/invoice">OR140</td>
                  <td>Texas</td>
                  <td>Alabama</td>
                  <td>Fertilizers</td>
                  <td>Air (include truck-air)</td>
                  <td><span class="label label-danger">Delivered</span></td>
                  <td>0</td>
                  <td>0.0013</td>
                  </tr>
                  <tr><td><a href="/invoice">OR141</td>
                  <td>Arkansas</td>
                  <td>California</td>
                  <td>Base metals</td>
                  <td>Water</td>
                  <td><span class="label label-warning">Pending</span></td>
                  <td>0.0151</td>
                  <td>0.0093</td>
                  </tr>
                  <tr><td><a href="/invoice">OR142</td>
                  <td>Virginia</td>
                  <td>Texas</td>
                  <td>Basic chemicals</td>
                  <td>Multiple modes &amp; mail</td>
                  <td><span class="label label-info">Processing</span></td>
                  <td>0.0004</td>
                  <td>1.3279</td>
                  </tr>
                  <tr><td><a href="/invoice">OR143</td>
                  <td>Wisconsin</td>
                  <td>Oregon</td>
                  <td>Articles-base metal</td>
                  <td>Air (include truck-air)</td>
                  <td><span class="label label-danger">Delivered</span></td>
                  <td>0.0001</td>
                  <td>2.9594</td>
                  </tr>
                  </tbody>
                </table>


              </div>
              <!-- /.table-responsive -->
              </div>
              </div>
      </section>
    </div>
{% include "adminlte/footer.html" %}