{% include "adminlte/header.html" %}
{% include "adminlte/sidebar.html" %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 style="margin:3%"> Please Enter Track-ID here </h1>
         <textarea name="trackid" style="margin:3%; width:80%; height:180px" form="usrform" ></textarea>
         <a href="/dummy" style="margin:30px; align:center" class="btn btn-primary">Submit</a>
        </button>
    </section>
    </div>
{% include "adminlte/footer.html" %}